@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}